@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  list-style: none;
  color: #eee;
  background-image: url("img/bg_wall.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  width: 1340px;
  margin: auto;
}

h1 {
  margin: 10px auto;
  width: 1340px;
}

.big_slider {
  display: flex;
  width: 1340px;
  height: 480px;
  overflow-x: scroll;
  margin: auto;
  border-radius: 5px;
}

.big_slider .big_slide {
  display: block;
  width: 100%;
  height: 100%;
}

.big_slider .big_slide img {
  height: 480px;
  width: 1340px;
}

.small_slider {
  display: flex;
  justify-content: flex-end;
  width: 1340px;
  margin: -90px auto 0;
  padding: 20px 10px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
}
.small_slide {
  /*box-shadow: 0 0 10px rgba(255,255,255,0.4);*/
  box-shadow: 0 0 10px rgba(0,0,0,0.9);
  border-radius: 5px;
  overflow: hidden;
  margin: 0 5px;
  width: 50px;
  height: 50px;
}

.small_slide img {
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);

}

.all_games_filters {
  display: flex;
  justify-content: space-between;
}

.all_games_filters div {
  display: flex;
}

.all_games_filters div p {
  margin: 2px;
}

.all_games_list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.game_item {
  text-align: center;
}

.game_item a {
  display: block;
}

.game_item_img {
  display: block;
  margin: auto;
}

.game_item_img img {
  border-radius: 10px;
  display: block;
  margin: auto;
  box-shadow: inset 5px 5px 5px 5px rgba(0,0,0, 0.9);
}
