@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  list-style: none;
  color: #eee;
  background-image: url("img/bg_wall.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  width: 100vw;
  max-width: 1340px;
  margin: auto;
}

section {
  margin: 20px 0;
}

h1 {
  margin: 10px;
}

.slider, .info {
  padding: 0 10px;
}

.big_slider {
  display: flex;
  width: auto;
  max-width: 1340px;
  height: 480px;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: auto;
  border-radius: 5px;
}

.big_slider .big_slide {
  width: 100%;

}

.big_slider .big_slide img {
  height: 640px;
  width: 100vw;
  max-width: 1340px;
}

.small_slider {
  display: flex;
  justify-content: flex-end;
  width: auto;
  max-width: 1340px;
  margin: -90px auto 0;
  padding: 20px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
}
.small_slide {
  /*box-shadow: 0 0 10px rgba(255,255,255,0.4);*/
  box-shadow: 0 0 10px rgba(0,0,0,0.9);
  border-radius: 5px;
  overflow: hidden;
  margin: 0 5px;
  width: 50px;
  height: 50px;
}

.small_slide img {
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);

}

.all_games {
  width: 100vw;
  max-width: 1340px;
}

.all_games_filters {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.all_games_filters div {
  display: flex;
}

.all_games_filters div p {
  margin: 2px;
}

.all_games_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 5px;
  grid-row-gap: 15px;
  /*grid-template-columns: repeat(8, 1fr);*/
}

.game_item {
  text-align: center;
}
.game_item_buttons, .game_item_promo {
  display: none;
}

.game_item a {
  display: block;
}

.game_item_img {
  display: block;
  margin: auto;
}

.game_item_img img {
  border-radius: 10px;
  display: block;
  margin: auto;
  box-shadow: inset 5px 5px 5px 5px rgba(0,0,0, 0.9);
}

.info {

}

.info h1 {
  color: #eee;
  margin: 10px 0;
}

.info div {
  padding: 20px 30px;
  background: rgba(0,0,0, 0.6);
  border-radius: 10px;
  color: #aaa;
}

.info a {
  padding: 10px 20px;
  color: steelblue;
  margin: auto;
  display: block;
  width: max-content;
}

.links {
  display: flex;
  justify-content: center;
}

.links a {
  color: #eee;
  margin: 10px;
}

.providers {
  display: flex;
  justify-content: center;
}

.providers div {
  padding: 10px;
  margin: 5px;
  background: rgba(0,0,0, 0.4);
  border-radius: 5px;
}

.footer {
  padding: 20px 30px;
  color: #aaa;
}

.footer p {
  margin: 15px 0;
}